
* {
  font-family: "Amatic SC";
  text-align: center;
  font-size: 24px;
  background-color: #6EEB83;
}

.start-page {
  max-width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
}

#start {
  background-color: yellow;
  height: 50px;
  width: auto;
  border-radius: 40%;
}

ul {
  list-style: none;
}

#choice-btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  height: 80%;
  margin-left: auto;
  margin-right: auto; 
}

input[type=image] {
  border: solid 4px rgb(15, 147, 224);
  border-radius: 10px;
  margin: 5px;
  width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: auto; 
}

#back-btn {
  margin: 20px;
  background-color: yellow;
  height: 50px;
  width: auto;
  border-radius: 40%;
  margin-left: auto;
  margin-right: auto; 
}